<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- ---------- -->
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      formControlName="name"
                    />
                  </div>
                </div>
              </div>
              <!-- ---------- -->
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="structure">Structure</label>
                    <input
                      type="text"
                      id="structure"
                      class="form-control"
                      formControlName="Structure"
                    />
                  </div>
                </div>
              </div>
              <!-- ---------- -->
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="validationDate">Validation Date</label>
                    <input
                      type="text"
                      id="validationDate"
                      class="form-control"
                      formControlName="ValidationDate"
                    />
                  </div>
                </div>
              </div>

              <!-- ---------- -->

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="pH">pH</label>
                    <input
                      type="text"
                      id="pH"
                      class="form-control"
                      formControlName="pH"
                    />
                  </div>
                </div>
              </div>
              <!-- ---------- -->
              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!productForm.valid"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="onCancel()"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>

            <span class="spacerr"></span>

            <div class="col-sm">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="usingConditions">Using Conditions </label>
                    <textarea
                      type="text"
                      id="usingConditions"
                      class="form-control"
                      rows="5"
                      formControlName="UsingConds"
                    ></textarea>
                  </div>
                </div>
              </div>
              <!-- ---------- -->

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input
                      type="text"
                      id="imageUrl"
                      class="form-control"
                      formControlName="ImageUrl"
                      #imageUrl
                    />
                  </div>
                </div>
              </div>
              <!-- ---------- -->
              <div class="row">
                <div class="col-xs-12">
                  <img
                    [src]="imageUrl.value"
                    class="img-responsive"
                    style="max-height: 200px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ---------- -->

      <!-- ---------- -->
      <!-- ---------- -->
    </form>
  </div>
</div>
